*.idea
*__init__.py
ExerciciosPython/Decisoes/*__init__.py
ExerciciosPython/ExerciciosAula_8/*__init__.py
ExerciciosPython/ExerciciosAula_9/*__init__.py
ExerciciosPython/Listas/*__init__.py
ExerciciosPython/Repeticoes/*__init__.py
ExerciciosPython/venv/*__init__.py